; hw-sh-pcdn-35.biliapi.net
; hw-gz-live-p2p-06.chat.bilibili.com
; cn-jsyz-ccc-live-tracker-02.chat.bilibili.com
host, stun.chat.bilibili.com, reject
host, tracker.chat.bilibili.com, reject
host, broadcast.chat.bilibili.com, reject
host-wildcard, *-pcdn-*.biliapi.net, reject
host-wildcard, *-p2p-*.chat.bilibili.com, reject
host-wildcard, *-live-tracker-*.chat.bilibili.com, reject
