user-agent, MicroMessenger, direct
user-agent, WeChat*, direct
user-agent, MApi*, direct
user-agent, %E6%89%8B%E6%9C%BA%E6%B7%98%E5%AE%9D*, direct

host-suffix, cn, direct

host-keyword, alipay, direct
host-keyword, taobao, direct
host-keyword, alicdn, direct
host-keyword, aliyun, direct
host-keyword, tmall, direct
host-keyword, baidu, direct

ip-cidr,198.11.188.0/25, direct, no-resolve
ip-cidr,198.11.136.0/24, direct, no-resolve
