host, chat.openai.com.cdn.cloudflare.net, direct
host, openaiapi-site.azureedge.net, direct
host, openaicom-api-bdcpf8c6d2e9atf6.z01.azurefd.net, direct
host, openaicomproductionae4b.blob.core.windows.net, direct
host, production-openaicom-storage.azureedge.net, direct
host, api.msn.com, direct
host, assets.msn.com, direct
host, copilot.microsoft.com, direct
host, location.microsoft.com, direct
host, login.microsoftonline.com, direct
host, self.events.data.microsoft.com, direct
host, apis.google.com, direct
host, colab.research.google.com, direct
host, content-developerprofiles-pa.googleapis.com, direct
host, generativelanguage.googleapis.com, direct
host-suffix, ai.com, direct
host-suffix, chatgpt.com, direct
host-suffix, openai.com, direct
host-suffix, cdn.oaistatic.com, direct
host-suffix, oaistatic.com, direct
host-suffix, oaiusercontent.com, direct
host-suffix, o33249.ingest.sentry.io, direct
host-suffix, anthropic.com, direct
host-suffix, claude.ai, direct
host-suffix, bing.com, direct
host-suffix, bingapis.com, direct
host-suffix, microsoft-falcon.io, direct
host-suffix, microsoftapp.net, direct
host-suffix, gemini.google.com, direct
host-suffix, meta.ai, direct
host-suffix, perplexity.ai, direct
